		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/druid.png" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="/profile.html">
											<span class="link-collapse">個人資訊</span>
										</a>
									</li>
									<li>
										<a href="{% url 'logout' %}">
											<span class="link-collapse">登出</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<ul class="nav nav-primary">
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">核心功能</h4>
						</li>

						<!-- stock information -->
						<li class="nav-item {% if 'stock-information' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#stock-information">
								<i class="far fa-chart-bar"></i>
								<p>股市資訊</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="stock-information">
								<ul class="nav nav-collapse">
									<li>
										<a href="/stock-information-overview.html">
											<span class="sub-item">股價總覽</span>
										</a>
									</li>
									<li>
										<a href="/stock-information-rankings.html">
											<span class="sub-item">個股排名</span>
										</a>
									</li>
									<li>
										<a href="/stock-information-heatmaps.html">
											<span class="sub-item">產業熱力圖</span>
										</a>
									</li>
									<li>
										<a href="/stock-information-news.html">
											<span class="sub-item">新聞時事</span>
										</a>
									</li>
									<!-- <li>
										<a href="#">
											<span class="sub-item">財經百科</span>
										</a>
									</li> -->
								</ul>
							</div>
						</li>


						<!-- strategy gallery -->
						<li class="nav-item {% if 'strategy-gallery' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#strategy-gallery">
								<i class="fas fa-th-list"></i>
								<p>策略圖鑑</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="strategy-gallery">
								<ul class="nav nav-collapse">

									<!-- <li>
										<a href="/strategy-gallery-pool.html">
											<span class="sub-item">策略卡池</span>
										</a>
									</li> -->

									<li>
										<a data-toggle="collapse" href="#subnav1">
											<span class="sub-item">策略分類</span>
											<span class="caret"></span>
										</a>
										<div class="collapse" id="subnav1">
											<ul class="nav nav-collapse subnav">
												<li>
													<a href="#">
														<span class="sub-item">買進</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="sub-item">賣出</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="sub-item">等待</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="sub-item">K線型態</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="sub-item">指標趨勢</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="sub-item">指標數值</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="sub-item">停損停利</span>
													</a>
												</li>
											</ul>
										</div>
									</li>

									<li>
										<a href="/strategy-gallery-decks.html">
											<span class="sub-item">策略卡組</span>
										</a>
									</li>

								</ul>
							</div>
						</li>



						<!-- paper trading -->
						<li class="nav-item {% if 'paper-trading' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#paper-trading">
								<i class="fas fa-desktop"></i>
								<p>模擬交易</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="paper-trading">
								<ul class="nav nav-collapse">
									<li>
										<a href="/paper-trading-manual-back.html">
											<span class="sub-item">手動回測</span>
										</a>
									</li>
									<li>
										<a href="/paper-trading-automatic-back.html">
											<span class="sub-item">自動回測</span>
										</a>
									</li>
								</ul>
							</div>
						</li>


						<!-- investment notes -->
						<li class="nav-item {% if 'investment-notes' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#investment-notes">
								<i class="fas fa-pen-square"></i>
								<p>投資筆記</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="investment-notes">
								<ul class="nav nav-collapse">
									<li>
										<a href="/investment-notes-all.html">
											<span class="sub-item">所有筆記</span>
										</a>
									</li>
									<li>
										<a href="/investment-notes-highlights.html">
											<span class="sub-item">重點筆記</span>
										</a>
									</li>
									<!-- <li>
										<a href="/tables-data.html">
											<span class="sub-item">重點交易</span>
										</a>
									</li> -->
								</ul>
							</div>
						</li>


						<!-- trading review -->
						<li class="nav-item {% if 'review' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#review">
								<i class="fas fa-table"></i>
								<p>績效檢討</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="review">
								<ul class="nav nav-collapse">
									<li>
										<a href="/review-execution.html">
											<span class="sub-item">執行力分析</span>
										</a>
									</li>
									<li>
										<a href="/review-roi.html">
											<span class="sub-item">報酬率分析</span>
										</a>
									</li>
									<li>
										<a href="/review-timeline.html">
											<span class="sub-item">盈虧時間軸</span>
										</a>
									</li>
									<li>
										<a href="/review-line-chart.html">
											<span class="sub-item">交易折線圖</span>
										</a>
									</li>
									<li>
										<a href="/review-report.html">
											<span class="sub-item">檢討報告</span>
										</a>
									</li>
								</ul>
							</div>
						</li>






						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">附屬功能</h4>
						</li>

						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#base">
								<i class="fas fa-layer-group"></i>
								<p>Base</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base">
								<ul class="nav nav-collapse">
									<li>
										<a href="/ui-avatars.html">
											<span class="sub-item">Avatars</span>
										</a>
									</li>
									<li>
										<a href="/ui-buttons.html">
											<span class="sub-item">Buttons</span>
										</a>
									</li>
									<li>
										<a href="/ui-gridsystem.html">
											<span class="sub-item">Grid System</span>
										</a>
									</li>
									<li>
										<a href="/ui-panels.html">
											<span class="sub-item">Panels</span>
										</a>
									</li>
									<li>
										<a href="/ui-notifications.html">
											<span class="sub-item">Notifications</span>
										</a>
									</li>
									<li>
										<a href="/ui-sweetalert.html">
											<span class="sub-item">Sweet Alert</span>
										</a>
									</li>
									<li>
										<a href="/icons-fontawesome.html">
											<span class="sub-item">Font Awesome Icons</span>
										</a>
									</li>
									<li>
										<a href="/icons-simpleline.html">
											<span class="sub-item">Simple Line Icons</span>
										</a>
									</li>
									<li>
										<a href="/icons-flaticons.html">
											<span class="sub-item">Flaticons</span>
										</a>
									</li>
									<li>
										<a href="/ui-typography.html">
											<span class="sub-item">Typography</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'layout' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#sidebarLayouts">
								<i class="fas fa-th-list"></i>
								<p>Sidebar Layouts</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="sidebarLayouts">
								<ul class="nav nav-collapse">
									<li>
										<a href="/layout-sidebar-style-1.html">
											<span class="sub-item">Sidebar Style 1</span>
										</a>
									</li>
									<li>
										<a href="/layout-overlay-sidebar.html">
											<span class="sub-item">Overlay Sidebar</span>
										</a>
									</li>
									<li>
										<a href="/layout-compact-sidebar.html">
											<span class="sub-item">Compact Sidebar</span>
										</a>
									</li>
									<li>
										<a href="/layout-static-sidebar.html">
											<span class="sub-item">Static Sidebar</span>
										</a>
									</li>
									<li>
										<a href="/layout-icon-menu.html">
											<span class="sub-item">Icon Menu</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'form' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#forms">
								<i class="fas fa-pen-square"></i>
								<p>Forms</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="forms">
								<ul class="nav nav-collapse">
									<li>
										<a href="/forms.html">
											<span class="sub-item">Basic Form</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'tables' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#tables">
								<i class="fas fa-table"></i>
								<p>Tables</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="tables">
								<ul class="nav nav-collapse">
									<li>
										<a href="/tables-simple.html">
											<span class="sub-item">Basic Table</span>
										</a>
									</li>
									<li>
										<a href="/tables-data.html">
											<span class="sub-item">Datatables</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'maps' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#maps">
								<i class="fas fa-map-marker-alt"></i>
								<p>Maps</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="maps">
								<ul class="nav nav-collapse">
									<li>
										<a href="/maps-jqvmap.html">
											<span class="sub-item">JQVMap</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'charts' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#charts">
								<i class="far fa-chart-bar"></i>
								<p>Charts</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="charts">
								<ul class="nav nav-collapse">
									<li>
										<a href="/charts.html">
											<span class="sub-item">Chart Js</span>
										</a>
									</li>
									<li>
										<a href="/charts-sparkline.html">
											<span class="sub-item">Sparkline</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'widgets' in segment %} active {% endif %}">
							<a href="/widgets.html">
								<i class="fas fa-desktop"></i>
								<p>Widgets</p>
								<span class="badge badge-success">4</span>
							</a>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#submenu">
								<i class="fas fa-bars"></i>
								<p>Menu Levels</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="submenu">
								<ul class="nav nav-collapse">
									<li>
										<a data-toggle="collapse" href="#subnav1">
											<span class="sub-item">Level 1</span>
											<span class="caret"></span>
										</a>
										<div class="collapse" id="subnav1">
											<ul class="nav nav-collapse subnav">
												<li>
													<a href="#">
														<span class="sub-item">Level 2</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="sub-item">Level 2</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<a data-toggle="collapse" href="#subnav2">
											<span class="sub-item">Level 1</span>
											<span class="caret"></span>
										</a>
										<div class="collapse" id="subnav2">
											<ul class="nav nav-collapse subnav">
												<li>
													<a href="#">
														<span class="sub-item">Level 2</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<a href="#">
											<span class="sub-item">Level 1</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<!-- <li class="mx-4 mt-2">
                            <a target="_blank"
                               href="https://appseed.us/support/" 
                               class="btn btn-danger btn-block">
                                <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>Support</a> 
						</li> -->
					</ul>
				{% else %}
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
                            <a target="_blank"
                               href="#" 
                               class="btn btn-danger btn-block">
                                <span class="btn-label mr-2"> <i class="fa fa-video"></i> </span>專題影片</a> 
						</li>
					</ul>
					<!-- <ul class="nav nav-primary">
						<li class="mx-4 mt-2">
                            <a target="_blank"
                               href="https://appseed.us/support/" 
                               class="btn btn-danger btn-block">
                                <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>Support</a> 
						</li>
					</ul> -->
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        