
{% extends "layouts/base.html" %}

{% block title %} 登入 {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">註冊</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">身分驗證</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">註冊</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                            <span>
                                輸入暱稱、電子信箱及密碼
                            </span>
                            {% endif %}

                        </div>
                    </div>

                    {% if success %}

                        <div class="card-action">
                            <a href="{% url 'login' %}" class="btn btn-success">登入</a>
                        </div>

                    {% else %}

                        <form method="post" action="">

                            {% csrf_token %}

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="icon-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" name="username" placeholder="暱稱" class="form-control" autofocus="" required="" id="id_username">
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.username.errors }}</span>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="icon-envelope"></i>
                                                    </span>
                                                </div>
                                                <input type="email" name="email" placeholder="電子信箱" class="form-control" required="" id="id_email">
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.email.errors }}</span>

                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="icon-lock"></i>
                                                    </span>
                                                </div>
                                                <input type="password" name="password1" placeholder="密碼" class="form-control" required="" id="id_password1" aria-autocomplete="list">
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.password1.errors }}</span>

                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="icon-lock"></i>
                                                    </span>
                                                </div>
                                                <input type="password" name="password2" placeholder="密碼確認" class="form-control" required="" id="id_password2">
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.password2.errors }}</span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">註冊並登入</button>
                                &nbsp; &nbsp;
                                <span>已有帳戶? </span> <a href="{% url 'login' %}" >登入</a>
                            </div>

                        </form>

                    {% endif %}


                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
