{% extends "layouts/base.html" %}

{% block title %} UI Datatables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <style>
        
        /* GENERAL */
dialog {
	display: none;
	position: fixed;
	padding: 0.5rem;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	background: white;
	border-radius: 0.25rem;
	z-index:10;
}

.chart {
    float: left;
    max-height: 800px;
    height: 75vh;
    position: relative;
    width: 100%;
}

.highcharts-draw-mode {
    cursor: crosshair;
}

.left {
    float: left;
}

.right,
.highcharts-stocktools-toolbar li.right {
    float: right;
}

/* FULL SCREEN */
.chart:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.chart:-moz-full-screen {
    width: 100%;
    height: 100%;
}

.chart:-ms-fullscreen {
    width: 100%;
    height: 100%;
}

.chart:fullscreen {
    width: 100%;
    height: 100%;
}

/* GUI */
.highcharts-stocktools-wrapper {
    display: block;
}

.highcharts-stocktools-toolbar {
    margin: 0 0 0 10px;
    padding: 0;
    width: calc(100% - 63px);
}

.highcharts-stocktools-toolbar li {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 40px;
    list-style: none;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: 0;
    position: relative;
    width: auto;
}

.highcharts-stocktools-toolbar li ul {
    display: none;
    left: 0;
    padding-left: 0;
    position: absolute;
    z-index: 125;
}

.highcharts-stocktools-toolbar li ul li {
    margin-bottom: 0;
    width: 160px;
}

.highcharts-stocktools-toolbar li:hover {
    /* background-color: black; */
    background-color: #e6ebf5;
}

.highcharts-stocktools-toolbar li:hover ul {
    display: block;
}

.highcharts-stocktools-toolbar li > span.highcharts-menu-item-btn {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    float: left;
    height: 100%;
    width: 40px;
}

.highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
    color: #666;
    line-height: 40px;
    font-size: 0.876em;
    padding: 0 10px 0 5px;
}

.highcharts-indicators > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/indicators.svg");
}

.highcharts-label-annotation > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/label.svg");
}

.highcharts-circle-annotation > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/circle.svg");
}

.highcharts-rectangle-annotation > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/rectangle.svg");
}

.highcharts-ellipse-annotation > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/ellipse.svg");
}

.highcharts-segment > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/segment.svg");
}

.highcharts-arrow-segment > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/arrow-segment.svg");
}

.highcharts-ray > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/ray.svg");
}

.highcharts-arrow-ray > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/arrow-ray.svg");
}

.highcharts-infinity-line > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/line.svg");
}

.highcharts-arrow-infinity-line > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/arrow-line.svg");
}

.highcharts-horizontal-line > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/horizontal-line.svg");
}

.highcharts-vertical-line > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/vertical-line.svg");
}

.highcharts-elliott3 > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/elliott-3.svg");
}

.highcharts-elliott5 > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/elliott-5.svg");
}

.highcharts-crooked3 > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/crooked-3.svg");
}

.highcharts-crooked5 > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/crooked-5.svg");
}

.highcharts-measure-xy > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/measure-xy.svg");
}

.highcharts-measure-x > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/measure-x.svg");
}

.highcharts-measure-y > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/measure-y.svg");
}

.highcharts-fibonacci > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/fibonacci.svg");
}

.highcharts-pitchfork > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/pitchfork.svg");
}

.highcharts-parallel-channel > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/parallel-channel.svg");
}

.highcharts-toggle-annotations > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/annotations-visible.svg");
}

.highcharts-vertical-counter > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/vertical-counter.svg");
}

.highcharts-vertical-label > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/vertical-label.svg");
}

.highcharts-vertical-arrow > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/vertical-arrow.svg");
}

.highcharts-vertical-double-arrow > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/vertical-double-arrow.svg");
}

.highcharts-flag-circlepin > .highcharts-menu-item-btn {
    font-size: 2rem;
    background-image: url("https://code.highcharts.com/gfx/stock-icons/flag-elipse.svg");
}

g[class="highcharts-label highcharts-point"] text[x][data-z-index][y]{
  font-size: 2rem !important;
}

g[class="highcharts-label highcharts-point highcharts-point-hover"] text[x][data-z-index][y]{
  font-size: 2rem !important;
}

g path[fill="#ffffff"][stroke="#000000"][stroke-width][opacity="1"] {
  fill: rgb(255, 0, 0) !important;
}
g path[fill=rgb(255, 0, 0)][stroke="#000000"][stroke-width][opacity="1"] {
  fill: rgb(255, 0, 0) !important;
}
g path[fill="#2caffe"][stroke="#000000"][stroke-width][opacity="1"] {
  fill: rgb(0, 255, 0) !important;
}
g path[fill=rgb(0, 255, 0)][stroke="#000000"][stroke-width][opacity="1"] {
  fill: rgb(0, 255, 0) !important;
}

/* g g path {
  background-color: black;
} */

/* g[class][data-z-index][[opacity][transform] path {
  fill: rgb(255, 0, 0) !important;
} */
/* g[class="highcharts-series highcharts-series-0 highcharts-candlestick-series highcharts-color-0 highcharts-tracker"] path {
  fill: rgb(255, 0, 0) !important;
} */
/* path[fill="#ffffff"] {
  fill: rgb(255, 0, 0) !important;
} */


.highcharts-flag-diamondpin > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/flag-diamond.svg");
}

.highcharts-flag-squarepin > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/flag-trapeze.svg");
}

.highcharts-flag-simplepin > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/flag-basic.svg");
}

.highcharts-zoom-xy > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/zoom-xy.svg");
}

.highcharts-zoom-x > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/zoom-x.svg");
}

.highcharts-zoom-y > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/zoom-y.svg");
}

.highcharts-full-screen > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/fullscreen.svg");
}

.highcharts-series-type-ohlc > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/series-ohlc.svg");
}

.highcharts-series-type-line > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/series-line.svg");
}

.highcharts-series-type-candlestick > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/series-candlestick.svg");
}

.highcharts-current-price-indicator > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/current-price-show.svg");
}

.highcharts-save-chart > .highcharts-menu-item-btn {
    background-image: url("https://code.highcharts.com/gfx/stock-icons/save-chart.svg");
}

li.highcharts-active {
    background-color: #e6ebf5;
}

/* Popup */

.chart-wrapper {
    float: left;
    position: relative;
    width: 100%;
    background: white;
    padding-top: 10px;
}

/* Responsive design */

@media screen and (max-width: 1024px) {
    .highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
        display: none;
    }

    .highcharts-stocktools-toolbar li ul li {
        width: auto;
    }
}


    </style>

	
	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">手動回測</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<!-- <i class="flaticon-home"></i> -->
							核心功能
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">模擬交易</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">手動回測</a>
					</li>
				</ul>
			</div>
			<div class="row">

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Multi Filter Select</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="multi-filter-select" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>Name</th>
											<th>Position</th>
											<th>Office</th>
											<th>Age</th>
											<th>Start date</th>
											<th>Salary</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Name</th>
											<th>Position</th>
											<th>Office</th>
											<th>Age</th>
											<th>Start date</th>
											<th>Salary</th>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td>Tiger Nixon</td>
											<td>System Architect</td>
											<td>Edinburgh</td>
											<td>61</td>
											<td>2011/04/25</td>
											<td>$320,800</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">筆記圖表</h4>
							
						</div>
						<div class="card-body">

                <div id="chartContainer" style="height: 300px; width: 100%;">
                </div>
                <!-- container -->

						</div>
					</div>
				</div>



				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">筆記列</h4>
								<button 
									class="btn btn-primary btn-round ml-auto"
									data-toggle="modal"
									data-target="#addRowModal">
									<i class="fa fa-plus"></i>
									新增筆記
								</button>
							</div>
						</div>
						<div class="card-body">
							<!-- Modal -->
							<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header no-bd">
											<h5 class="modal-title">
												<span class="fw-mediumbold">
												New</span> 
												<span class="fw-light">
													Row
												</span>
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p class="small">Create a new row using this form, make sure you fill them all</p>
											<form>
												<div class="row">
													<div class="col-sm-12">
														<div class="form-group form-group-default">
															<label>Name</label>
															<input id="addName" type="text" class="form-control" placeholder="fill name">
														</div>
													</div>
													<div class="col-md-6 pr-0">
														<div class="form-group form-group-default">
															<label>Position</label>
															<input id="addPosition" type="text" class="form-control" placeholder="fill position">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-group-default">
															<label>Office</label>
															<input id="addOffice" type="text" class="form-control" placeholder="fill office">
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer no-bd">
											<button type="button" id="addRowButton" class="btn btn-primary">Add</button>
											<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>


							<div class="table-responsive">
								<table id="add-row" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>標題</th>
											<th>內容</th>
											<th>標註位置(日期)</th>
											<!-- <th style="width: 10%">Action</th> -->
										</tr>
									</thead>
									<tbody>
                                        <!-- {% for note in notes %} -->
                                        
                                        <tr>
                                            <td>標題</td>
                                            <td>內容</td>
                                            <td>標註位置(日期)</td>
                                        </tr>
                                    
                                        <!-- {% endfor %} -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">筆記列</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">

							</div>
						</div>
					</div>
				</div> -->

			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >

		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});

	</script>
	    <script>
			


function addPopupEvents(chart) {
    var closePopupButtons = document.getElementsByClassName('highcharts-close-popup');
    // Close popup button:
    Highcharts.addEvent(
        closePopupButtons[0],
        'click',
        function () {
            this.parentNode.style.display = 'none';
        }
    );

    Highcharts.addEvent(
        closePopupButtons[1],
        'click',
        function () {
            this.parentNode.style.display = 'none';
        }
    );

    // Add an indicator from popup
    Highcharts.addEvent(
        document.querySelectorAll('.highcharts-popup-indicators button')[0],
        'click',
        function () {
            var typeSelect = document.querySelectorAll(
                    '.highcharts-popup-indicators select'
                )[0],
                type = typeSelect.options[typeSelect.selectedIndex].value,
                period = document.querySelectorAll(
                    '.highcharts-popup-indicators input'
                )[0].value || 14;

            chart.addSeries({
                linkedTo: 'aapl-ohlc',
                type: type,
                params: {
                    period: parseInt(period, 10)
                }
            });

            chart.stockToolbar.indicatorsPopupContainer.style.display = 'none';
        }
    );

    // Update an annotaiton from popup
    Highcharts.addEvent(
        document.querySelectorAll('.highcharts-popup-annotations button')[0],
        'click',
        function () {
            var strokeWidth = parseInt(
                    document.querySelectorAll(
                        '.highcharts-popup-annotations input[name="stroke-width"]'
                    )[0].value,
                    10
                ),
                strokeColor = document.querySelectorAll(
                    '.highcharts-popup-annotations input[name="stroke"]'
                )[0].value;

            // Stock/advanced annotations have common options under typeOptions
            if (chart.currentAnnotation.options.typeOptions) {
                chart.currentAnnotation.update({
                    typeOptions: {
                        lineColor: strokeColor,
                        lineWidth: strokeWidth,
                        line: {
                            strokeWidth: strokeWidth,
                            stroke: strokeColor
                        },
                        background: {
                            strokeWidth: strokeWidth,
                            stroke: strokeColor
                        },
                        innerBackground: {
                            strokeWidth: strokeWidth,
                            stroke: strokeColor
                        },
                        outerBackground: {
                            strokeWidth: strokeWidth,
                            stroke: strokeColor
                        },
                        connector: {
                            strokeWidth: strokeWidth,
                            stroke: strokeColor
                        }
                    }
                });
            } else {
                // Basic annotations:
                chart.currentAnnotation.update({
                    shapes: [{
                        'stroke-width': strokeWidth,
                        stroke: strokeColor
                    }],
                    labels: [{
                        borderWidth: strokeWidth,
                        borderColor: strokeColor
                    }]
                });
            }
            chart.stockToolbar.annotationsPopupContainer.style.display = 'none';
        }
    );
}

Highcharts.getJSON('https://demo-live-data.highcharts.com/aapl-ohlcv.json', function (data) {

    // split the data set into ohlc and volume
    var ohlc = [],
        volume = [],
        dataLength = data.length,
        i = 0;

    for (i; i < dataLength; i += 1) {
        ohlc.push([
            data[i][0], // the date
            data[i][1], // open
            data[i][2], // high
            data[i][3], // low
            data[i][4] // close
        ]);

        volume.push([
            data[i][0], // the date
            data[i][5] // the volume
        ]);
    }

    Highcharts.stockChart('container', {
        chart: {
            events: {
                load: function () {
                    addPopupEvents(this);
                }
            }
        },
        yAxis: [{
            labels: {
                align: 'left'
            },
            height: '80%',
            resize: {
                enabled: true
            }
        }, {
            labels: {
                align: 'left'
            },
            top: '80%',
            height: '20%',
            offset: 0
        }],
        navigationBindings: {
            events: {
                selectButton: function (event) {
                    var newClassName = event.button.className + ' highcharts-active',
                        topButton = event.button.parentNode.parentNode;

                    if (topButton.classList.contains('right')) {
                        newClassName += ' right';
                    }

                    // If this is a button with sub buttons,
                    // change main icon to the current one:
                    if (!topButton.classList.contains('highcharts-menu-wrapper')) {
                        topButton.className = newClassName;
                    }

                    // Store info about active button:
                    this.chart.activeButton = event.button;
                },
                deselectButton: function (event) {
                    event.button.parentNode.parentNode.classList.remove('highcharts-active');

                    // Remove info about active button:
                    this.chart.activeButton = null;
                },
                showPopup: function (event) {

                    if (!this.indicatorsPopupContainer) {
                        this.indicatorsPopupContainer = document
                            .getElementsByClassName('highcharts-popup-indicators')[0];
                    }

                    if (!this.annotationsPopupContainer) {
                        this.annotationsPopupContainer = document
                            .getElementsByClassName('highcharts-popup-annotations')[0];
                    }

                    if (event.formType === 'indicators') {
                        this.indicatorsPopupContainer.style.display = 'block';
                    } else if (event.formType === 'annotation-toolbar') {
                        // If user is still adding an annotation, don't show popup:
                        if (!this.chart.activeButton) {
                            this.chart.currentAnnotation = event.annotation;
                            this.annotationsPopupContainer.style.display = 'block';
                        }
                    }
                },
                closePopup: function () {
                    this.indicatorsPopupContainer.style.display = 'none';
                    this.annotationsPopupContainer.style.display = 'none';
                }
            }
        },
        stockTools: {
            gui: {
                enabled: false
            }
        },
        series: [{
            type: 'candlestick',
            id: 'aapl-ohlc',
            name: 'AAPL Stock Price',
            data: ohlc
        }, {
            type: 'column',
            id: 'aapl-volume',
            name: 'AAPL Volume',
            data: volume,
            yAxis: 1
        }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    rangeSelector: {
                        inputEnabled: false
                    }
                }
            }]
        }
    });
});


  const getStrokePaths = document.querySelectorAll("g.g.path")
  // const test = document.querySelector("div.chart-wrapper > div.chart > div#container")
  const container = document.querySelector("div#container")
  container.addEventListener('click', function(){
    // alert('hello')
    const shapePaths = document.querySelectorAll("div.highcharts-container > svg > g.highcharts-annotation > g.highcharts-annotation-shapes > path")
    console.log(shapePaths)

    for (i = 0; i < shapePaths.length; i+=2){
      // shapeFillings1 = shapePaths[i]
      // shapeFillings2 = shapePaths[i+1]
      shapePaths[i].style.fill = "rgba(255, 255, 255, 0)"
      shapePaths[i].style.stroke = "rgba(255, 255, 255, 0)"
      shapePaths[i+1].style.fill = "rgba(0, 240, 240, 0.1)"
      shapePaths[i+1].style.stroke = "rgba(0, 170, 170, 0.1)"
    }
    

  })
  // getStrokePaths = document.querySelectorAll(`[fill="rgba(0, 0, 0.75)"]`)
  // console.log(getStrokePaths)
  // console.log(test)

  // const testArray = test.children
  // console.log(testArray)

  		let paths
		setTimeout(() => {

			paths = document.querySelectorAll('path[stroke="#000000"]')
      // console.log(paths)
			

			
			for (let i=0; i < paths.length; i++){
				const noteButton = document.createElement('button')
				noteButton.style='background:transparent !important'
				noteButton.style='border: none !important'
				noteButton.style='color: transparent !important'
        
				noteButton.setAttribute("data-toggle", "modal")
				noteButton.setAttribute("class", "btn btn-primary btn-round ml-auto")
				noteButton.setAttribute("data-target", "#addRowModal")
				console.log(noteButton)
				paths[i].appendChild(noteButton)

        // paths[i].setAttribute("id", `popover-${i}`)
        // paths[i].setAttribute("popover", "")

        // const popButton = document.createElement("button")
        // popButton.setAttribute("popovertarget", `popover-${i}`)
        // paths[i].appendChild(popButton)

				console.log(i)
				console.log(paths[i])

				// paths[i].appendChild(noteButton)
				// console.log(paths[i].getAttribute('ariaLabel'))
				// console.log(path.getAttribute('ariaLabel'))
			}
			// console.log(paths) 
			// console.log(paths.length)

		}, "2000");
	
	</script>
    <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Default Tool Tip"
      },
      data: [
      {            
        type: "column",        
        dataPoints: [
        { x: 10, y: 71, label: "alpha"},
        { x: 20, y: 55, label: "bravo"},
        { x: 30, y: 50, label: "charlie"},
        { x: 40, y: 65, label: "delta"},
        { x: 50, y: 95, label: "echo"},
        { x: 60, y: 68, label: "fox"},
        { x: 70, y: 28, label: "golf"},
        { x: 80, y: 34, label: "hotel"},
        { x: 90, y: 14, label: "india"}
        ]
      },
        {            
        type: "column",        
        dataPoints: [
        { x: 10, y: 41, label: "alpha"},
        { x: 20, y: 35, label: "bravo"},
        { x: 30, y: 26, label: "charlie"},
        { x: 40, y: 45, label: "delta"},
        { x: 50, y: 97, label: "echo"},
        { x: 60, y: 61, label: "fox"},
        { x: 70, y: 36, label: "golf"},
        { x: 80, y: 31, label: "hotel"},
        { x: 90, y: 7, label: "note"}
        ]
      }
      ]
    });

    chart.render();
  }
  </script>
  <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
{% endblock javascripts %}
